<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.github.qiaozhen9636.*.*.service"/>
    <context:component-scan base-package="com.github.qiaozhen9636.thoundcloudmanager.user.beans"/>
    <context:component-scan base-package="com.github.qiaozhen9636.thoundcloudmanager.user.output"/>

    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.github..service.impl.*Impl.*(..))"/>
    </aop:config>
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="dataSourceTransactionManager">
        <tx:attributes>
            <tx:method name="select*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="query*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="check*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="get*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="find*" read-only="true" propagation="SUPPORTS"/>
            <tx:method name="insert*"/>
            <tx:method name="add*"/>
            <tx:method name="delete*"/>
            <tx:method name="remove*"/>
            <tx:method name="update*"/>
            <tx:method name="set*"/>
        </tx:attributes>
    </tx:advice>

    <import resource="applicationContext-dao.xml"/>
</beans>